<h4>Menu List</h4>

<!-- ------------south indian------------- -->
<h6>south indian</h6>
<ul *ngFor="let passData of menuArr">
    <div *ngIf="passData.Special" appHighlight>
        <li *ngIf="passData.Category == 'south indian'">

            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>

    <div *ngIf=" !passData.Special">
        <li *ngIf="passData.Category == 'south indian'">

            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>

        </li>
    </div>
</ul>

<!-- ----------gujrati------------ -->
<h6>gujarati</h6>
<ul *ngFor="let passData of menuArr">
    <div *ngIf="passData.Special" appHighlight>
        <li *ngIf="passData.Category == 'gujrati'">
            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>

    <div *ngIf="!passData.Special">
        <li *ngIf="passData.Category == 'gujrati'">
            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>
</ul>

<!-- -----------maxican------------- -->
<h6>maxican</h6>
<ul *ngFor="let passData of menuArr">
    <div *ngIf="passData.Special" appHighlight>
        <li *ngIf="passData.Category == 'maxican'">
            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>

    <div *ngIf="!passData.Special">
        <li *ngIf="passData.Category == 'maxican'">
            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>
</ul>

<!-- -----------punjabi------------- -->
<h6>punjabi</h6>
<ul *ngFor="let passData of menuArr">
    <div *ngIf="passData.Special" appHighlight>
        <li *ngIf="passData.Category == 'punjabi'">
            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>

    <div *ngIf="!passData.Special">
        <li *ngIf="passData.Category == 'punjabi'">
            <p>Name: {{passData.Name}}</p><span>{{passData.Special === true ? 'special' : ''}}</span>
            <P> Price: {{passData.Price}}</P>
            <p> {{passData.Category}}</p>
            <button (click)="onRemove(passData)">Remove from Menu</button>
        </li>
    </div>
</ul>