<div class="container">
    <div class="row">
        <!-- <div class="col-6">

        </div> -->
        <div class="card" style="width: 18rem;" *ngFor="let data of displayData">
            <img class="card-img-top" src="{{data.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{data.name}}</h5>
                <p class="card-text">{{data.category}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


        <!-- <div class="col-12" *ngFor="let data of displayData">

            <p>{{ name }}</p> -->
        <!-- <p>{{ data.Name }} -->
        <!-- </p> -->
        <!-- <img src="{{data.img}}" alt=""> -->
        <!-- <button class="btn">Add To Menu</button> -->
        <!-- </div> -->

        <!-- <div class="row"> -->
        <!-- 
        </div> -->

    </div>