<!-- -----------from-entry-component------- -->

<div class="card" style="width: 25rem;" *ngFor="let data of displayData">
    <div class="row">
        <div class="col-6">
            <!-- ------image---- -->
            <img class="card-img-top" src="{{ data.Img }}">
        </div>
        <div class="col-6">
            <!-- ------item-name--- -->
            <h5>{{data.Name}}</h5><span>{{data.Special === true ? 'special' : ''}}</span>
            <!-- ------category---- -->
            <p>category : {{data.Category}}</p>
            <!-- ------price---- -->
            <p>Price: {{data.Price}}</p>
        </div>
    </div>
    <button style="width: 200px;" class="btn btn-primary" (click)="onAddMenu(data)">Add
        to menu</button>
</div>